
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: lightblue;
}
.chat{
    display: none;
}
.chat-container {
    background-color: #f2f2f2;
    color: #404040;
    width: 505px;
    border: 1px solid #e1e1e8;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.language-select-container {
    background-color: #ffffff;
    padding: 20px 40px 20px;
    border-radius: 5px 5px 0 0;
}
.language-select-container select {
    height: 30px;
    margin-left: 20px;
    font-size: 14px;
    min-width: 150px;
}
.input-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}
.connection-container {
    background-color: lightgreen;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
.text-input-container {
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 100%;
}
.text-input {
    background-color: #f2f2f2;
    width: 80%;
    height: 32px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding: 0 20px;
    font-size: 14px;
}
.channel-input {
    background-color: #f2f2f2;
    width: 127px;
    height: 32px;
    border: 0;
    border-radius: 10px;
    outline: none;
    padding: 0 20px;
    font-size: 14px;
}
.input-button {
    width: 19%;
    border-radius: 5px;
    border: none;
    height: 32px; 
    background-color:lightblue;
    outline: none;
    cursor: pointer;
    transition: 500ms;
    font-weight: 700;
}
.input-button:hover {
    transform: translate(10px);
}
.message-container {
    height: 300px;
    overflow-y: scroll;
    list-style-type: none;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}
.message-time {
    float: right;
    margin-right: 40px;
}
.message {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.message picture {
    width: 15%;
}
.message-info {
    width: 65%;
 }
.message-name {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 10px;
}
.message-connection {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 10px;
    text-align: center;
}
.message-text {
    margin-left: 8px;
    width: 430px;
    word-wrap: break-word;
}
.sent-message {
    background-color: lightblue;
    border-radius: 5px;
}
.recieved-message {
    background-color: lightgray;
    border-radius: 5px;
}
.top-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}